.button-outlined {
    width: 100%;
    margin-top: 32px;
    color: var(--color-white);
    font-family: inherit;
    font-size: inherit;
    line-height: 24px;
    padding: 16px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-bgBtnOtlNormal);
}

.button-outlined:hover {
    background-color: var(--color-bgBtnOtlHover);
}

.button-outlined:active {
    background-color: var(--color-bgBtnOtlPressed);
    outline: var(--color-bgBtnOtlFocus) solid 4px;
}

.button-outlined:focus {
    background-color: var(--color-bgBtnOtlFocus);
}
