.code-editor {
    font-family: var(--code-font-family);
    color: var(--color-white);
    padding: 52px 18px 18px 18px;
    box-sizing: border-box;
    background-color: var(--color-dark-gray);
    box-shadow: 0px 16px 24px var(--color-editor-shadow);
    border-radius: 8px;
    width: 100%;
    max-width: 100%;
    border: none;
    margin: 0;
}

