.code-editorColumn {
    display: block; 
    width: 100%;
}

.code-container {
    background-color: var(--color-codeBgBlue);
    padding: 32px;
    border-radius: 8px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.code-macBtnContainer {
    display: flex;
    position: absolute;
    top: 32px;
    left: 48px;
    padding: 16px 0 1px 1px;
    box-sizing: content-box;
    background-color: var(--color-dark-gray);
    width: calc(100% - 94px);
}

.code-macBtn {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-right: 8px; 
}

.code-macBtn.-bgRed {
background-color: var(--color-mac-red);
}

.code-macBtn.-bgYellow {
    background-color: var(--color-mac-yellow);
}

.code-macBtn.-bgGreen {
    background-color: var(--color-mac-green);
}