.code-inputSidebar {
    display: block;
    right: 0;
    width: 30%;
    min-width: 270px;
    margin-left: 40px;
    flex: 1;
}

.code-inputSidebar>.code-description {
    display: flex;
    flex-direction: column;
}

.code-inputSidebar>.code-personalization {
    display: block;
    width: 100%;
}