.code-btnHighlight {
    width: 100%;
    margin-top: 32px;
    color: var(--color-white);
    font-family: inherit;
    font-size: inherit;
    line-height: 24px;
    padding: 16px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-bgBtnHighlightNormal);
}

.code-btnHighlight:hover {
    background-color: var(--color-bgBtnHighlightHover);
}

.code-btnHighlight:active {
    background-color: var(--color-bgBtnHighlightHover);
    outline: var(--color-bdBtnHighlightActive) solid 4px;
}

.code-btnHighlight:focus {
    background-color: var(--color-bgBtnHighlightFocus);
}

.code-btnHighlight.-btnSubmit {
    background-color: var(--color-blue-300);
    color: var(--color-dark-gray);
    margin-top: 24px;
}

.code-btnHighlight.-btnSubmit:hover {
    background-color: var(--color-blue-200);
}

.code-btnHighlight.-btnSubmit:active {
    background-color: var(--color-blue-200);
    outline: var(--color-bdBtnSubmitActive) solid 4px;
}

.code-btnHighlight.-btnSubmit:focus {
    background-color: var(--color-blue-100);
}