.code-inputSidebar {
    display: block;
    justify-content: end;
    width: 25%;
    min-width: 250px;
    margin-left: 40px;
    flex: 1;
}

.code-inputSidebar>.code-description {
    display: flex;
    flex-direction: column;
}

.code-inputSidebar>.code-personalization {
    display: flex;
    flex-direction: column;
}