.code-textarea {
    display: block;
    line-height: 18px;
    color: var(--color-white);
    font-family: var(--code-font-family);
    padding: 52px 18px 18px 18px !important;
    box-sizing: border-box;
    background-color: var(--color-dark-gray);
    box-shadow: 0px 16px 24px var(--color-editor-shadow);
    border-radius: 8px;
    width: 100%;
    max-width: 100%;
    min-height: 300px;
    border: none;
    margin: 0;
    resize: vertical;
    white-space: pre-line;
}