.community-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.community-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    width: calc(50% - 12px);
    box-sizing: border-box;
    background-color: var(--color-bgCardProject);
    margin-bottom: 24px;
}

.community-codeContainer {
    background-color: var(--color-codeBgBlue);
    padding: 24px;
    border-radius: 8px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.community-cardDescription {
    padding: 24px;
}

.community-cardDescription > .text-body {
    margin-top: 8px;
}

.code-macBtnContainer.-communityMacBtn {
    top: 24px;
    left: 40px;
    width: calc(100% - 85px);
}

.code-textarea.--community {
    min-height: 240px;
    line-break: anywhere;
}

.community-actionsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 24px;
}

.community-reactionContainer {
    display: inline-flex; 
}

.community-reactionContainer > figure {
    color: var(--color-white);
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 16px;
    width: 58px;
    height: 40px;
}

.community-reactionContainer > figure:hover{
    background-color: var( --color-bgBtnHighlightNormal);
}

.community-reactionContainer > figure:active{
    background-color: var( --color-bgBtnHighlightHover);
}

.community-reactionContainer img {
    background-color: transparent;
}

.community-reactionContainer figcaption {
    margin-left: 10px;
    background-color: transparent;
}