.customSelectWrapper {
    position: relative;
    user-select: none;
    width: 100%;
    margin-bottom: 16px;
    padding: 0;
}

.customSelect {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.customSelectTrigger span {
    background-color: transparent;
}

.customSelectTrigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.customSelectOptions {
    position: absolute;
    display: block;
    z-index: 2;
    top: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: var(--color-dark-blue);
}

.customSelect.-csOpen .customSelectOptions {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.customSelect.-csOpen .customSelectTrigger {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.customSelectOption {
    position: relative;
    display: block;
    cursor: pointer;
    border-radius: 0;
}

.customSelectOption:hover {
    cursor: pointer;
    background-color: var(--color-bgInputHover);
}
.customSelectOption.-csSelected {
    color: var(--color-input);
    background-color: var(--color-bgMenuNormal);
}



/* Comportamento da setinha */
.customSelectArrow {
    position: relative;
    height: 7px;
    width: 7px;
    background-color: transparent;
}
.customSelectArrow::before, .customSelectArrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 1px;
    height: 100%;
    transition: all 0.3s;
}
.customSelectArrow::before {
    left: -15px;
    transform: rotate(-45deg);
    background-color: var(--color-white);
}
.customSelectArrow::after {
    left: -10px;
    transform: rotate(45deg);
    background-color: var(--color-white);
}
.-csOpen .customSelectArrow::before {
    transform: rotate(45deg);
}
.-csOpen .customSelectArrow::after {
    transform: rotate(-45deg);
}

