.header-icon {
    width: 48px;
    margin: 0 0 0 40px;
    padding: 19px 12px;
    border-radius: 12px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    background-color: transparent;
}

.menuIcon__hamburger {
    position: relative;
    width: 20px;
    height: 3px;
    border-radius: .8px;
    background: var(--color-white);
    color: var(--color-white);
}

.menuIcon__hamburger::before, .menuIcon__hamburger::after {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 3px;
    background: currentColor;
    border-radius: .8px;
    transition: all 0.5s;
}

.menuIcon__hamburger::before {
    top: -7px;
}

.menuIcon__hamburger::after {
    top: 7px;
}

.menuOpen.menuIcon__hamburger {
    background-color: transparent;
}

.menuOpen.menuIcon__hamburger::before {
    transform: rotate(45deg);
    height: 4px;
    top: 0px;
}


.menuOpen.menuIcon__hamburger::after {
    transform: rotate(-45deg);
    height: 4px;
    top: 0px;
}

.header-icon:hover {
    background-color: var(--color-bgBtnHighlightNormal);
}

.header-icon:active {
    background-color: var(--color-bgBtnHighlightHover);
}

.header-icon:focus {
    background-color: var(--color-bgBtnHighlightFocus);
}

