.header-icon {
    width: 48px;
    margin: 0 0 0 40px;
    padding: 12px;
    border-radius: 16px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    background-color: transparent;
}

.header-icon:hover {
    background-color: var(--color-bgBtnHighlightNormal);
}

.header-icon:active {
    background-color: var(--color-bgBtnHighlightHover);
}

.header-icon:focus {
    background-color: var(--color-bgBtnHighlightFocus);
}

