.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 40px;
    padding: 32px 32px 0 32px;
    width: 100%;
}

.header > a {
    display: flex;
    width: 30%;
    min-width: 300px;
    box-sizing: border-box;
    flex: 1;
    justify-self: flex-start;
}

.profileContainer {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 30%;
    min-width: 270px;
    margin-left: 40px;
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    flex: 1;
}

.profileContainer > p {
    padding: 8px;
}