.header-icon {
    width: 48px;
    margin: 0 0 0 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    background-color: transparent;
}

.header-icon#header-searchIcon {
    padding: 12px;
    border-radius: 12px;
}

.header-icon#header-menuIcon{
    padding: 19px 12px;
    border-radius: 12px;
}

.header-icon:hover {
    background-color: var(--color-bgBtnHighlightNormal);
}

.header-icon:active {
    background-color: var(--color-bgBtnHighlightHover);
}

.header-icon:focus {
    background-color: var(--color-bgBtnHighlightFocus);
}

.menuIcon__hamburger {
    position: relative;
    width: 20px;
    height: 3px;
    border-radius: .8px;
    background: var(--color-white);
    color: var(--color-white);
    transition: all 0.5s;
}

.menuIcon__hamburger::before, .menuIcon__hamburger::after {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 3px;
    background: currentColor;
    border-radius: .8px;
    transition: all 0.5s;
}

.menuIcon__hamburger::before {
    top: -7px;
}

.menuIcon__hamburger::after {
    top: 7px;
}

.menuOpen.menuIcon__hamburger {
    background-color: transparent;
}

.menuOpen.menuIcon__hamburger::before {
    transform: rotate(45deg);
    height: 4px;
    top: 0px;
}


.menuOpen.menuIcon__hamburger::after {
    transform: rotate(-45deg);
    height: 4px;
    top: 0px;
}

.menuIcon__search {
    position: relative;
    top: 2px;
    height: 16px;
    width: 16px;
    border: 3px solid var(--color-white);
    border-radius: 100%;
    transform: translateX(-3px) translateY(-3px);
    transition: all 0.5s;
}

.menuIcon__search::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 7px;
    top: 10px;
    left: 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: .8px;
    border-bottom-right-radius: .8px;
    background-color: var(--color-white);
    transform: rotate(40deg);
    transition: all 0.5s;
}

.menuIcon__search::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    top: 6px;
    left: 0px;
    border-radius: .8px;
    transform: rotate(-45deg);
}

.searchOpen.menuIcon__search::before {
    background-color: var(--color-white);
    transition: all 0.5s;
}

.searchOpen.menuIcon__search {
    border: none;
}

.searchOpen.menuIcon__search::after {
    width: 20px;
    height: 4px;
    top: 6px;
    left: 0px;
    border-radius: .8px;
    transform: rotate(45deg);
}