.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 40px;
    padding: 32px 32px 0 32px;
    width: 100%;
}

.header > a {
    display: flex;
    width: 30%;
    min-width: 300px;
    box-sizing: border-box;
    flex: 1;
}

.profileContainer {
    width: 30%;
    min-width: 270px;
    margin-left: 40px;
    color: var(--color-white);
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.profilePhoto {
    background-image: url("../assets/img/foto-perfil.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.profileHover {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
    width: fit-content;
}

.profileHover > p {
    margin: 0 8px;
    background-color: transparent;
}

.profileHover:hover {
    background-color: var(--color-bgBtnHighlightNormal);
}