.section-main {
    display: grid;
    grid-template-columns: 15% auto 25%;
    grid-template-rows: auto;
    grid-template-areas: 
        "sidebar-left main main";
    background-color: var(--color-dark-blue);
    padding: 40px 2%;
}